accelerate
autopep8
bitsandbytes
datasets
evaluate
hf_xet
huggingface_hub
jupyter
jupyterlab
matplotlib
numpy
onnx
onnxruntime
pandas
peft
pip
pydantic
pytest
python-dotenv
safetensors
scikit-learn
seaborn
tensorboard
tiktoken
torch
torchtext
tqdm
transformers[torch]
umap-learn
wordcloud
